<template>
    <div class="text-center">
        <h1>Welcome to Movies App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in ligula sit amet elit congue mattis. In hac habitasse platea dictumst. Pellentesque enim leo, iaculis quis vulputate a, tincidunt quis massa. Aenean sodales felis lacus, vel dapibus leo consequat ac. Donec sed eros a leo efficitur suscipit vel nec neque. Quisque bibendum quam a est pellentesque, quis venenatis justo tristique. Donec quam nisl, laoreet dapibus pharetra eget, ullamcorper sit amet justo. Proin pulvinar semper lacus, vel bibendum felis porta ut. Mauris suscipit sed quam ac malesuada. Quisque aliquet aliquet urna, in convallis diam consectetur eget. Vestibulum sem magna, finibus ut efficitur sit amet, vulputate ut mi. Mauris porta elit at velit luctus pharetra. Proin venenatis fringilla tortor, interdum mollis libero porttitor eget. Praesent blandit ex lectus, at pellentesque mi pharetra id. Etiam pulvinar interdum felis quis accumsan. Aliquam mi purus, commodo et vulputate ac, convallis in nisl.</p>
        <p>Duis sit amet congue purus, in ullamcorper lorem. Phasellus consequat diam sed purus convallis porta. Pellentesque interdum nulla ut ligula mollis condimentum. Donec ultrices mi tincidunt, blandit metus sit amet, mattis diam. Nunc vitae tortor in libero consequat fermentum vitae id velit. Etiam ligula nisi, blandit eget elementum eu, auctor quis nunc. Cras tincidunt porttitor imperdiet. Pellentesque sit amet magna diam. Suspendisse porttitor aliquam leo, ac porta nisi accumsan vitae. Suspendisse nec leo est. Nullam at diam tortor.</p>
    </div>
</template>
