<template>
    <div>
        <h2 class="text-center">{{ film.name }}</h2>
        <div class="d-flex flex-row">
            <div class="w-50 p-3">
                <dl class="dl-horizontal">
                    <dt>Description</dt>
                    <dd>{{ film.description }}</dd>
                    <dt>Release Date</dt>
                    <dd>{{ film.release_date }}</dd>
                    <dt>Rating</dt>
                    <dd>{{ film.rating }}</dd>
                    <dt v-if="genre">Genre</dt>
                    <dd v-if="genre">{{ genre }}</dd>
                    <dt>Country</dt>
                    <dd>{{ country }}</dd>
                    <dt>Ticket Price</dt>
                    <dd>{{ film.ticket_price }}</dd>
                </dl>
                <div class="comment-container">
                    <h3 class="text-center">Comments</h3>
                    <div class="comments-outside mt-3">
                        <div class="comment" v-for="comment in film.comments">
                            <b-card class="mt-2">
                                <p class="card-text">
                                    {{comment.comment}}
                                </p>
                                <em slot="footer">{{comment.user.name}}</em>
                            </b-card>
                        </div>
                    </div>
                    <hr>
                    <div class="add-comment" v-if="this.$store.getters.isLoggedIn">
                        <h6>Post Your Comments</h6>
                        <b-form-textarea id="comment" v-model="comment" placeholder="submit your comment here.." :rows="3" :max-rows="6">
                        </b-form-textarea>
                        <button type="button" class="btn btn-primary btn-block btn-flat" @click.prevent="addComment"><i
                                class="fa fa-sign-in"></i> Submit
                        </button>
                    </div>

                </div>
            </div>
            <div class="w-50 p-3">
                <b-img thumbnail :src="film.photo" :alt="film.name"/>
            </div>

        </div>
    </div>
</template>

<script>
    export default {

        data() {
            return {
                film: [],
                genre: null,
                country: null,
                comment: ''
            }
        },
        created() {
            this.getFilm();
        },
        methods: {
            addComment() {
                let that = this;
                let data = {film_id: this.film.id, comment: this.comment};
                let config = {'Accept': 'application/json', 'Authorization': "Bearer " + localStorage.getItem('token')};
                axios.post('/api/comment', data, {headers: config})
                    .then(function () {
                        that.comment = '';
                        that.getFilm()
                    });
            },
            getFilm() {
                axios.get('/api/film/' + this.$route.params.slug)
                    .then(response => {
                        this.film = response.data.film;
                        console.log('film', this.film);
                        this.country = this.film.country.name;
                        if(this.film.genres){
                            this.genre = (this.film.genres).map(item => {
                                return item.name
                            }).toString()
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
